version: 2.1
machine:
  node:
    version: 5.8.0
  services:
    - docker
jobs:
  build:
    machine:
      image: ubuntu-2204:2022.04.2
    # docker:
    #   - image: maven:3.8.3-openjdk-17 # Use a Docker image with JDK 8
    steps:
      - checkout # Checkout the source code
      - run:
        name: Install JDK 17
        command: |
          sudo apt update
          sudo apt install -y openjdk-17-jdk

      # Add commands to install Maven
      - run:
          name: Install Maven
          command: |
            sudo apt install -y maven

      # Add commands to install Docker
      - run:
          name: Install Docker
          command: |
            sudo apt update
            sudo apt install -y docker.io
            sudo systemctl start docker
            sudo systemctl enable docker

      # Continue with the existing steps
      - run:
          name: Build and Package
          command: |
            mvn spring-boot:build-image -DskipTests -Dspring-boot.build-image.imageName=lyounsi.azurecr.io/product-service:latest
            echo "$DOCKER_PASSWORD" | docker login lyounsi.azurecr.io -u "$DOCKER_USERNAME" --password-stdin
            docker push lyounsi.azurecr.io/product-service:latest
  deploy:
    docker:
      - image: microsoft/azure-cli:latest # Use Azure CLI image for deployment
    steps:
      - setup_remote_docker
      - checkout # Checkout the source code
      - run:
          name: Deploy to AKS
          command: |
            az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET --tenant $AZURE_TENANT_ID
            az aks get-credentials --resource-group $RESOURCE_GROUP --name $AKS_CLUSTER_NAME
            kubectl apply -f .\k8s\deployment.yaml  # Apply your Kubernetes deployment configuration
            kubectl apply -f .\k8s\service.yaml  # Apply your Kubernetes deployment configuration

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - main # Adjust branch as needed
