apiVersion: apps/v1
kind: Deployment
metadata:
  name: shop-app
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: shop-app
  template:
    metadata:
      labels:
        app: shop-app
    spec:
      containers:
        - name: product-service-container
          image: lyounsi.azurecr.io/circleci-shop:latest
          imagePullPolicy: Always 
          ports:
            - containerPort: 8080 
          imagePullSecrets:
            - name: acr-secret
